<footer>
  <div class="foot-panel1">
    <a class="top" href="#header"> Back to top</a>
  </div>
  <div class="foot-panel2">
    <ul>
      <p>Get to Know Us</p>
      <button routerLink="/aboutus" style="font-size: small;">About Us</button>
      <a>Careers</a>
      <a>Press Releases</a>
      <a>Amazon Science</a>
    </ul>

    <ul>
      <p>Connect with us</p>
      <a href="https://www.facebook.com/amazon.eg">Facebook</a>
      <a href="https://www.twitter.com/amazon.eg/">Twitter</a>
      <a href="https://www.instagram.com/amazon.eg/">Instagram</a>
    </ul>

    <ul>
      <p>Make Money with Us</p>
      <a>Sell on Amazon</a>
      <a>Sell under Amazon Accelerator</a>
      <a>Protect and Build Your Brand</a>
      <a>Amazon Global Selling</a>

    </ul>

  </div>


  <div class="foot-panel3">
    <div class="flogo"></div><br>
  </div>
  <div class="foot-panel4">
    <ul class=" country-list">
      <li><a href="#">Brazil</a></li>
      <li><a href="#">United States</a></li>
      <li><a href="#">Canada</a></li>
      <li><a href="#">France</a></li>
      <li><a href="#">Germany</a></li>
      <li><a href="#">United Kingdom</a></li>
      <li><a href="#">Japan</a></li>
      <li><a href="#">Australia</a></li>
      <li><a href="#">Japan</a></li>
      <li><a href="#">United States</a></li>
      <li><a href="#">India</a></li>
      <li><a href="#">Egypt</a></li>
      <li><a href="#">South Africa</a></li>
    </ul>
  </div>
  <div class="foot-panel5">
    <div class="pages">
      <a>Conditions of Use & Sale</a>
      <a> Privacy Notice </a>
      <a>Interest-Based Ads</a>
    </div>
    <div class="copyright">© 1996-2024, Amazon.com, Inc. or its affiliates</div>
  </div>
</footer>
