.box {
  height: 45%;
  width: 50%;
  max-width: 480px;
  margin: 15px;
  background-color: rgba(79, 60, 60, 0.762);
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 25px;
  transition: transform 0.6s;
  overflow: hidden;
}
