
<div class="shop-section grid lg:grid-cols-4 md:grid-cols-3 sm:grid-cols-2 gap-4">
  <div *ngFor="let subcategory of subCategories" class="box bg-white rounded-lg shadow-md p-4">
    <h3 class="text-lg font-semibold mb-2">{{ subcategory.subCategoryName }}</h3>
    <button class="w-full bg-blue-500 text-white font-semibold py-2 px-4 rounded-xl hover:bg-blue-600 transition duration-300 ease-in-out" (click)="viewProductsInSubcategories(subcategory.subCategoryId)">
      Products in Department of {{ subcategory.subCategoryName }}
    </button>
  </div>
</div>
