
<div *ngIf="product" class="product-details">
  <h2 style="margin: auto;">{{ product.name }}</h2>
  <img [src]="product.image" alt="Product Image" class="product-image" style="margin: auto;">
  <p><strong>Price:</strong> ${{ product.price }}</p>
  <p><strong>weight:</strong> {{ product.weight }}</p>
  <p><strong>stock:</strong> {{ product.stock }}</p>
  <p><strong>Description:</strong> {{ product.description }}</p>
  <button (click)="selectItems()"
  class="rounded-lg w-full bg-yellow-300 hover:bg-yellow-400 text-center p-2 hover:shadow-2xl ease-in-out duration-1000 hover:text-orange-600">
  Add To Cart
</button>
</div>

