.error-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 5px;
}
.error
{
  border-radius: 20px;
  width: 820px;
  height: 600px;
  background-image: url(../../assets/not-found.png);
display: flex;
justify-content: center;
align-items: center;
}
button
{
  color: wheat;
  font-size: large;
  padding: 5px;
  border-radius: 10px;
  background-image: linear-gradient(to bottom right, rgb(100, 100, 142), rgb(156, 142, 142), rgb(97, 175, 115));
}
