<div class="flex flex-col items-center h-screen w-screen mb-5">
  <div class="flex flex-col items-center w-full  h-full  " *ngIf="responseMessage==null">
    <div class="flex items-start mt-4 mb-3 ">
      <img class="w-32 m-3" src="../../assets/amazon2.png" />
    </div>
    <div class="flex flex-grow flex-col shadow-sm md:w-96 sm:w-80 w-72 px-8 py-4 rounded-xl sm:border-2">
      <div class="flex md:text-3xl sm:text-2xl text-lg font-Nunito mb-4">
        <h1>Create Account</h1>
      </div>











      <!-- <form [formGroup]="myForm" (ngSubmit)="registerUser()" class="flex flex-col text-sm">


        <div class="flex flex-col mb-2">
          <label class="font-extrabold md:text-sm text-xs" for="email">E-mail address</label>
          <input type="email" formControlName="email" class="border rounded-md h-8 p-2" placeholder="Email">
          <div *ngIf="myForm.get('email')?.invalid && myForm.get('email')?.touched" class="text-red-500 mt-1 text-xs">
            Email is required
          </div>
        </div>

        <div class="flex flex-col mb-2">

          <div *ngIf="myForm.get('phone')?.invalid && myForm.get('phone')?.dirty" class="text-red-500 mt-1 text-xs">
            Invalid format
          </div>
        </div>

        <div class="flex flex-col mb-2">
          <label class="font-extrabold md:text-sm text-xs" for="password">Password</label>
          <input type="password" formControlName="password" placeholder="Password">
          <div *ngIf="myForm.get('password')?.invalid && myForm.get('password')?.touched"
            class="text-red-500 mt-1 text-xs">Password format: Consist of Min 8, Min 1 special, capital, number</div>
        </div>

        <button [hidden]="buttonClicked || myForm.invalid" class="bg-yellow-300 rounded-lg mx-1 hover:bg-yellow-400 p-2 mt-5"
          type="submit">Continue</button>
        <button [hidden]="!buttonClicked || myForm.invalid" class="bg-yellow-300 rounded-lg mx-1 hover:bg-yellow-400 p-2 mt-5"><i
            class="fa-solid fa-spinner"></i></button>
      </form> -->


      <form [formGroup]="myForm" (ngSubmit)="registerUser()" class="flex flex-col text-sm justify-evenly">
        <div class="flex flex-col mb-2">
          <label class="font-extrabold md:text-sm text-xs" for="name">Your Name</label>
          <input type="text" class="border rounded-md h-8 p-2" formControlName="username" placeholder="Username">
          <div *ngIf="myForm.get('username')?.invalid && myForm.get('username')?.touched" class="text-red-500 mt-1 text-xs">
            Name is required
          </div>
        </div>
        <div class="flex flex-col my-1">
          <label class="font-extrabold" for="email">E-mail address</label>
          <input class="border rounded-md h-8 p-2" formControlName="email" type="email" placeholder="Email">
          <div *ngIf="myForm.get('email')?.invalid && myForm.get('email')?.touched" class="text-red-500 mt-1 text-xs">
            Email is required
          </div>
        </div>
        <div class="flex flex-col">
          <label class="font-extrabold" for="phoneNumber">Phone</label>
          <input class="border rounded-md h-8 p-2" type="tel" formControlName="phoneNumber" placeholder="Phone Number">
          <div *ngIf="myForm.get('phoneNumber')?.invalid && myForm.get('phoneNumber')?.touched && !myForm.get('phoneNumber')?.dirty"
            class="text-red-500 mt-1 text-xs">
            Phone is required
          </div>
        </div>
        <div class="flex flex-col">
          <label class="font-extrabold" for="password">Enter Password</label>
          <input class="border rounded-md h-8 p-2" formControlName="password" type="password" placeholder="Password">
          <div *ngIf="myForm.get('password')?.invalid && myForm.get('password')?.touched" class="text-red-500 mt-1 text-xs">
            Password format: Consist of 8 characters, 1 special character, 1 capital letter, 1 number
          </div>
        </div>
        <button [disabled]="!myForm.valid" class="bg-yellow-300 rounded-lg mx-1 hover:bg-yellow-400 p-2 mt-5"
          type="submit">Continue</button>
      </form>














      <div class="h-1/3 justify-evenly flex flex-col">
        <div class="flex text-xs ">
          <p>By continuing, you agree to Amazon's <a class="text-blue-600" href="">Conditions of Use</a> and <a
              class="text-blue-600" href="">Privacy Notice.</a></p>
        </div>

        <div class="flex border-b text-sm">
        </div>
        <div class="flex flex-col text-sm ">
          <span>Already have an account?<a routerLink="/signin"
              class="border-b rounded-lg hover:scale-105 hover:text-yellow-500 font-bold ease-in-out duration-1000 ">
              Sign
              in</a></span>
        </div>
      </div>
    </div>
  </div>

  <div class="h-screen w-screen flex items-center justify-center bg-black bg-opacity-20" *ngIf="responseMessage!=null">
    <div class="flex flex-col p-10 w-96 border shadow-md hover:shadow-lg z-50 bg-white items-center ">

      <div class="text-center font-bold text-lg mb-5 duration-1000 animate-pulse">{{responseMessage}}</div>
      <button class="rounded-lg p-4 border bg-yellow-400 hover:bg-yellow-500 hover:scale-105 ease-in-out duration-1000"
        (click)="responseGone()"> Continue </button>
    </div>

  </div>
</div>











