<div *ngIf="categories && categories.length" class="mb-4">
  <h2 class="text-lg font-semibold mb-2">Categories</h2>
  <ul class="list-disc list-inside">
    <li *ngFor="let category of categories" class="text-gray-800">{{ category.categoryName }}</li>
  </ul>
</div>

<div *ngIf="!categories || categories.length === 0" class="mb-4">
  <p class="text-gray-800">No categories found.</p>
</div>

<div class="flex items-center space-x-4">
  <input type="text" [(ngModel)]="newCategoryName" placeholder="Enter category name" class="border border-gray-300 rounded-lg px-4 py-2 w-1/2">
  <button (click)="addCategory()" class="bg-blue-500 text-white font-semibold py-2 px-4 rounded-lg hover:bg-blue-600 transition duration-300 ease-in-out">Submit</button>
</div>
<div>
  <input type="number" [(ngModel)]="categoryIdToDelete" placeholder="Enter category ID" class="border border-gray-300 rounded-lg px-4 py-2 w-1/2">
  <button (click)="deleteCategory()" class="btn btn-danger m-3">Delete Category</button>
</div>
