/* user-list.component.css */

.user-list {
  list-style-type: none;
  padding: 0;
}

.user-item {
  margin-bottom: 20px;
}

.user-details {
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 5px;
}

.admin-form {
  margin-top: 10px;
}

.form {
  display: flex;
  flex-direction: column;
}

.label {
  margin-bottom: 5px;
}

.input-field {
  padding: 5px;
  margin-bottom: 10px;
}

.submit-button {
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #0056b3;
}

.userid{
  cursor:text;
}
