<button routerLink="/edit" class="btn btn-primary m-5">Edit Product</button>
<button routerLink="/add" class="btn btn-success m-5">Add Product</button>
<button routerLink="/delete" class="btn btn-danger m-5">Delete Product</button>
<button routerLink="/addsubcategory" class="btn btn-success m-5">Add Subcategory</button>
<button routerLink="/addcategory" class="btn btn-success m-5">Add Category</button>
<button routerLink="/addcategory" class="btn btn-danger m-5">Delete Category</button>
<button routerLink="/addsubcategory" class="btn btn-danger m-5">Delete Subcategory</button>
<button routerLink="/addsupplier" class="btn btn-success m-5">Add Supplier</button>
<button routerLink="/users" class="btn btn-success m-5">Add Admin</button>
<button routerLink="/addsupplier" class="btn btn-danger m-5">Delete Supplier</button>

